<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, intial-scale=1.0">
    <title>Ultimate Online Job Search</title>
</head>
<body>
    <h1>Ultimate Online Job Search</h1>
    <br>
    <h4>Please Enter your details below</h4>
    <form action="mailto:bosman.of@gmail.com" method="post">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name"><br>

        <label for="email">Email:</label>
        <input type="text" id="email" name="email"><br>

        <label for="phone">Phone:</label>
        <input type="text" id="phone" name="phone"><br>
        <br>


        <h4>Select Your Target Job Title (Choose one):</h4>
        <input type="checkbox" id="account_executive" name="job_title" value="Account Executive">
        <label for="account_executive">Account Executive</label><br>

        <input type="checkbox" id="business_development" name="job_title" value="Business Development">
        <label for="business_development">Business Development</label><br>

        <input type="checkbox" id="sales_manager" name="job_title" value="Sales Manager">
        <label for="sales_manager">Sales Manager</label><br>

        <input type="checkbox" id="vp_sales" name="job_title" value="Vp Sales">
        <label for="vp_sales">Vp Sales</label><br>
        <br>

        <label for="position">Select the type of position you desire:</label>
        <select id="position" name="position_type">
            <option value="Part-Time Contract">Part-Time Contract</option>
            <option value="Full-Time Contract">Full-Time Contract</option>
        </select><br>
        <br>

        <label>Are you willing to relocate?</label>
        <input type="radio" id="yes" name="relocate" value="Yes">
        <label for="yes">Yes</label>
        <input type="radio" id="no" name="relocate" value="No">
        <label for="no">No</label><br>
        <br>

        <input type="submit" value="Send Info">
        <input type="reset" value="Clear form">
    </form>
    <h5>Wish you Good Luck!!</h5>
</body>
</html>



